CONFIG VCCAUX  = 3.3;
CONFIG ENABLE_SUSPEND  = FILTERED;

NET "clk_24" TNM_NET = "clk_24";
TIMESPEC TS_clk_24 = PERIOD "clk_24" 40.6901 ns HIGH 50 %;
NET "clk_24" LOC = P84; NET "clk_24" IOSTANDARD = LVCMOS33;
# only allowed on P: 14-17, 21-23, 84-85, 87-88, 92-95

TIMESPEC TS_CLK_0 = FROM "INST_PLL_pll0_clk_o_src" TO "INST_PLL_pll0_clk_o_i2s" TIG;
TIMESPEC TS_CLK_1 = FROM "INST_PLL_pll0_clk_o_src" TO "INST_PLL_pll1_clk_o_i2s" TIG;
TIMESPEC TS_CLK_2 = FROM "INST_PLL_pll0_clk_o_src" TO "INST_PLL_pll0_clk_o_out" TIG;

NET "ctrl_rdy"			LOC = P65	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "ctrl_lock"		LOC = P66	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "ctrl_rst"			LOC = P67	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "i2s_bclk"			LOC = P80	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "i2s_data"			LOC = P78	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "i2s_lrck"			LOC = P79	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;

NET "spi_clk"			LOC = P102	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "spi_miso"			LOC = P101	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "spi_mosi"			LOC = P100	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "spi_cs_n[0]"		LOC = P99	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "spi_cs_n[1]"		LOC = P98	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "spi_cs_n[2]"		LOC = P97	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;

NET "spdif_o"			LOC = P112	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "spdif_chan0"		LOC = P117	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "spdif_chan1"		LOC = P116	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "spdif_chan2"		LOC = P115	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "spdif_chan3"		LOC = P114	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;

NET "dsp0_rst"			LOC = P1		| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp0_mute"		LOC = P2		| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp0_i2s_bclk"	LOC = P5		| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp0_i2s_lrck"	LOC = P6		| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp0_i2s_data0"	LOC = P7		| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp0_i2s_data1"	LOC = P8		| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp0_spi_clk"	LOC = P9		| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp0_spi_cs_n"	LOC = P10	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp0_spi_miso"	LOC = P11	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp0_spi_mosi"	LOC = P12	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;

NET "dsp1_rst"			LOC = P23	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp1_mute"		LOC = P24	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp1_i2s_bclk"	LOC = P26	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp1_i2s_lrck"	LOC = P27	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp1_i2s_data0"	LOC = P29	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp1_i2s_data1"	LOC = P30	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp1_spi_clk"	LOC = P32	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp1_spi_cs_n"	LOC = P33	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp1_spi_miso"	LOC = P34	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
NET "dsp1_spi_mosi"	LOC = P35	| IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 2;
